*
!.gitignore
!README.md

# track tmux settings file
!.tmux.conf

# track vim config file
!.vimrc

# track notes.md
!notes.md

# add nvim config file
!.config/
.config/*
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

